@page
@model T5_PR1.Pages.AfegirConsumAiguaModel
@using T5_PR1.Models
@{
    ViewData["Title"] = "Afegir consum d'aigua";
}

<h2>Afegir Consum d'Aigua</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="ConsumAigua.Any">Any</label>
        <input asp-for="ConsumAigua.Any" class="form-control" type="number" value="" />
        <span asp-validation-for="ConsumAigua.Any" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConsumAigua.Comarca">Comarca</label>
        <input asp-for="ConsumAigua.Comarca" class="form-control" value="" />
        <span asp-validation-for="ConsumAigua.Comarca" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConsumAigua.Poblacio">Població</label>
        <input asp-for="ConsumAigua.Poblacio" class="form-control" value="" />
        <span asp-validation-for="ConsumAigua.Poblacio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConsumAigua.ConsumDomesticPerCapita">Consum domèstic per càpita</label>
        <input asp-for="ConsumAigua.ConsumDomesticPerCapita" class="form-control" type="number" value="" />
        <span asp-validation-for="ConsumAigua.ConsumDomesticPerCapita" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Afegir Consum</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}