@page
@model T5_PR1.Pages.EditarSimulacioModel
@using T5_PR1.Models
@{
	ViewData["Title"] = "Editar simulacio";
}

<h2>Editar simulació</h2>
<form method="post">
	<input type="hidden" asp-for="Simulacio.Id" />

	<div class="form-group">
		<label asp-for="Simulacio.Data">Data del sistema</label>
		<input asp-for="Simulacio.Data" class="form-control"/>
		<span asp-validation-for="Simulacio.Data" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="SistemaEnergia.Tipus">Tipus de sistema</label>
		<select id="tipusSelector" asp-for="SistemaEnergia.Tipus" asp-items="Html.GetEnumSelectList<TipusSistema>()" class="form-control">
			<option value="" selected>Selecciona un tipus de sistema</option>
		</select>
	</div>

	<!--Camps específics per cada tipus-->
	<div id="campSolar" class="campos-especificos" style="display: none;">
		<div class="form-group">
			<label asp-for="SistemaSolar.HoresSol">Hores de sol</label>
			<input asp-for="SistemaSolar.HoresSol" class="form-control"/>
			<span asp-validation-for="SistemaSolar.HoresSol" class="text-danger"></span>
		</div>
	</div>
	<div id="campEolic" class="campos-especificos" style="display: none;">
		<div class="form-group">
			<label asp-for="SistemaEolic.VelocitatVent">Velocitat del vent</label>
			<input asp-for="SistemaEolic.VelocitatVent" class="form-control" />
			<span asp-validation-for="SistemaEolic.VelocitatVent" class="text-danger"></span>
		</div>
	</div>

	<div id="campHidroelectric" class="campos-especificos" style="display: none;">
		<div class="form-group">
			<label asp-for="SistemaHidroelectric.Cabal">Cabal</label>
			<input asp-for="SistemaHidroelectric.Cabal" class="form-control" />
			<span asp-validation-for="SistemaHidroelectric.Cabal" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="Simulacio.Rati">Rati del sistema</label>
		<input asp-for="Simulacio.Rati" class="form-control"/>
		<span asp-validation-for="Simulacio.Rati" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Simulacio.Cost">Cost del sistema</label>
		<input asp-for="Simulacio.Cost" class="form-control" />
		<span asp-validation-for="Simulacio.Cost" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Simulacio.Preu">Preu del sistema</label>
		<input asp-for="Simulacio.Preu" class="form-control"/>
		<span asp-validation-for="Simulacio.Preu" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Editar simulació</button>
</form>

@section Scripts {
	<script src="~/js/visibilitatPropietats.js"></script>
	<partial name="_ValidationScriptsPartial" />
}

