@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="display: flex; justify-content: center; height: 700px">
    <div class="text-center w-50 h-50 align-middle">
        <img src="img/imageFons.png" class="rounded img-fluid" style="width: 75%; height: 500px" />
        <p class="col">EcoEnergy Solutions</p>
    </div>
</div>
